<!-- <div class="main_header">
    <div class="tabbed">
        <input type="radio" name="tab" id="tab_one" checked>
        <label for="tab_one">HTML</label>

        <input type="radio" name="tab" id="tab_two" checked>
        <label for="tab_two">CSS</label>

        <input type="radio" name="tab" id="tab_three" checked>
        <label for="tab_three">Javascript</label>


        <div class="tabs">
            <div>
                <h3>HTML</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu faucibus lorem. Quisque dolor eros,
                    interdum eget tincidunt sit amet, varius sed risus. Nam sed ex justo. Phasellus ac vehicula lacus.
                    Mauris eu commodo orci. Etiam neque ligula, tempor eget nibh sit amet, sodales gravida enim.
                    Curabitur
                    scelerisque orci nisl, eu hendrerit tellus mattis ut. Sed non condimentum nunc. Pellentesque
                    facilisis
                    lorem id felis mattis pharetra. Integer non est interdum, pellentesque massa in, aliquam orci.
                    Integer
                    ultrices sapien orci, et dictum purus iaculis nec. Quisque eget metus leo.
                </p>
            </div>
            <div>
                <h3>CSS</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu faucibus lorem. Quisque dolor eros,
                    interdum eget tincidunt sit amet, varius sed risus. Nam sed ex justo. Phasellus ac vehicula lacus.
                    Mauris eu commodo orci. Etiam neque ligula, tempor eget nibh sit amet, sodales gravida enim.
                    Curabitur
                    scelerisque orci nisl, eu hendrerit tellus mattis ut. Sed non condimentum nunc. Pellentesque
                    facilisi
                </p>
            </div>
            <div>
                <h3>Javascript</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu faucibus lorem. Quisque dolor eros,
                    interdum eget tincidunt sit amet, varius sed risus. Nam sed ex justo. Phasellus ac vehicula lacus.
                    Mauris eu commodo orci. Etiam neque ligula, tempor eget nibh sit amet, sodales gravida enim.
                    Curabitur
                    scelerisque orci nisl, eu hendrerit tellus mattis ut. Sed non condimentum nunc. Pellentesque
                    facilisis
                    lorem id felis mattis pharetra. Integer non est interdum, pellentesque massa in, aliquam orci.
                    Integer
                    ultrices sapien orci, et dictum purus iaculis nec. Quisque eget metus leo.
                </p>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="row">
    <div class="col-md-12"> -->
<div class="main">
    <div class="box">
        <span style="--i:1;"><img src="assets/images/img_1.jpg"></span>
        <span style="--i:2;"><img src="assets/images/img_2.jpg"></span>
        <span style="--i:3;"><img src="assets/images/img_3.jpg"></span>
        <span style="--i:4;"><img src="assets/images/img_7.jpg"></span>
        <span style="--i:5;"><img src="assets/images/img_4.jpg"></span>
        <span style="--i:6;"><img src="assets/images/img_5.jpg"></span>
        <span style="--i:7;"><img src="assets/images/img_6.jpg"></span>
        <span style="--i:8;"><img src="assets/images/img_8.jpg"></span>
    </div>
</div>
<!-- </div>
</div> -->