/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
/* body{
    background-color: #008080;
    font-family: cursive;
    color:white;
} */
/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background: #000;
} */